
body{
    background-color: aliceblue;
}
h2{
    color: brown;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    
}
p{
    line-height: 1.5;
    font-size: 1rem;
    font-style: normal;
}