.Profile{
    border: 1px solid green;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 400px;
    display: inline-block;
    background-color:rgb(237, 230, 230);
    font-size: 1rem;
}

.img{
    max-width: 50%;
    height: 100px;
    border-radius: 2%;
    margin-bottom:  10px;
    object-fit: cover;
    
}
.link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}